<h1>Liste des livres</h1>

@if (chargement()) {
  <p>Chargement en cours...</p>
}

@if (erreur()) {
  <p class="erreur">{{ erreur() }}</p>
}

@if (!chargement() && !erreur()) {
  @if (livres().length === 0) {
    <p>Aucun livre pour le moment.</p>
  } @else {
    <table>
      <thead>
        <tr>
          <th>Titre</th>
          <th>ISBN</th>
          <th>Auteur</th>
          <th>Exemplaires</th>
        </tr>
      </thead>
      <tbody>
        @for (livre of livres(); track livre.id) {
          <tr>
            <td><a [routerLink]="['/livres', livre.id]">{{ livre.titre }}</a></td>
            <td>{{ livre.isbn }}</td>
            <td>{{ livre.auteurNom }}</td>
            <td>{{ livre.nombreExemplaires }}</td>
          </tr>
        }
      </tbody>
    </table>
        <div class="pagination">
      <button (click)="pagePrecedente()" [disabled]="pageActuelle() === 0">
        Précédent
      </button>
      <span>Page {{ pageActuelle() + 1 }} / {{ totalPages() }}</span>
      <button (click)="pageSuivante()" [disabled]="pageActuelle() >= totalPages() - 1">
        Suivant
      </button>
    </div>
  }
  
}